body {
    background-color: #111827;
}

img {
    display: block;
    margin: auto;
    width: 50%;
}

.navbar {
    background-color: #090c14;
    height: 100px;
    width: 500px;
    border-radius: 20px;
}